body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('images/backgroud.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 100px auto 50px;
  min-height: 100vh;
}

.header {
  grid-column: 1 / 4;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Left Sidebar */
.left-sidebar {
  grid-column: 1;
  grid-row: 2;
  background-color: rgba(0, 63, 92, 0.8);
  padding: 20px;
}

.left-sidebar h2 {
  margin-top: 0;
}

.left-sidebar ul {
  list-style: none;
  padding: 0;
}

.left-sidebar ul li {
  margin: 10px 0;
}

.left-sidebar ul li a {
  text-decoration: none;
  color: white;
}

.main-content {
  grid-column: 2;
  grid-row: 2;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  padding: 20px;
  border-radius: 10px;
}

/* Right Sidebar */
.right-sidebar {
  grid-column: 3;
  grid-row: 2;
  background-color: rgba(0, 63, 92, 0.8);
  padding: 20px;
  display: none; /* Hidden by default */
}

/* Footer */
.footer {
  grid-column: 1 / 4;
  text-align: center;
  padding: 20px;
}

/* Toggle Button */
.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 63, 92, 0.8);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

.toggle-btn:hover {
  background-color: rgba(0, 63, 92, 1);
}

@media screen and (max-width: 768px) {
  .container {
      grid-template-columns: 1fr;
      grid-template-rows: 100px auto auto 50px;
  }

  .left-sidebar {
      grid-column: 1;
      grid-row: 3;
      display: none; 
  }

  .main-content {
      grid-column: 1;
      grid-row: 2;
  }

  .right-sidebar {
      grid-column: 1;
      grid-row: 4;
  }

  .footer {
      grid-column: 1;
      grid-row: 5;
  }
}
